﻿@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h4>@ViewBag.WelcomeMessage</h4>
<ul>
    @for (int i = 0; i < Convert.ToInt32(ViewBag.NumTime); i++)
    {
        <li>@ViewBag.Name</li>
    }
</ul>